<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netposa.gat.mapper.SubscribeNotificationMapper">
    <insert id="insertNotificationList">
        INSERT INTO subscribe_notification
        (ID,NotificationID,SubscribeID,Title,TriggerTime,InfoIDs,CaseObjectList,Tollgate,Lane,DeviceList,DeviceStatusList,
        APSObjectList,APSStatusObjectList,PersonObjectList,FaceObjectList,MotorVehicleObjectList,NonMotorVehicleObjectList,ThingObjectList,SceneObjectList)
        VALUES
        <foreach collection ="list" item="notification" separator =",">
            (#{notification.ID},#{notification.NotificationID},#{notification.SubscribeID},#{notification.Title},#{notification.TriggerTime},
            #{notification.InfoIDs},#{notification.CaseObjectList},#{notification.Tollgate},#{notification.Lane},
            #{notification.DeviceList},#{notification.DeviceStatusList},#{notification.APSObjectList},#{notification.APSStatusObjectList},
            #{notification.PersonObjectList},#{notification.FaceObjectList},#{notification.MotorVehicleObjectList},
            #{notification.NonMotorVehicleObjectList},#{notification.ThingObjectList},#{notification.SceneObjectList})
        </foreach >
    </insert>

    <resultMap id="notificationTextList" type="com.netposa.gat.model.notification.SubscribeNotificationText" autoMapping="true">
    </resultMap>

    <!-- 查询通知信息-->
    <select id="qryNotificationList" parameterType="com.netposa.gat.model.notification.SubscribeNotificationText" resultMap="notificationTextList">
        SELECT
        a.ID,
        a.NotificationID,
        a.SubscribeID,
        a.Title,
        a.TriggerTime,
        a.InfoIDs,
        a.CaseObjectList,
        a.Tollgate,
        a.Lane,
        a.DeviceList,
        a.DeviceStatusList,
        a.APSObjectList,
        a.APSStatusObjectList,
        a.PersonObjectList,
        a.FaceObjectList,
        a.MotorVehicleObjectList,
        a.NonMotorVehicleObjectList,
        a.ThingObjectList,
        a.SceneObjectList
        FROM subscribe_notification a
        <where>
            <if test='notification.NotificationID != null and !"".equals(notification.NotificationID)'>
                AND a.NotificationID = #{notification.NotificationID}
            </if>
            <if test='notification.SubscribeID != null and !"".equals(notification.SubscribeID)'>
                AND a.SubscribeID = #{notification.SubscribeID}
            </if>
            <if test='notification.Title != null and !"".equals(notification.Title)'>
                AND a.Title = #{notification.Title}
            </if>
            <if test='notification.TriggerTime != null and !"".equals(notification.TriggerTime)'>
                AND a.TriggerTime = #{notification.TriggerTime}
            </if>
        </where>
    </select>

    <delete id="removeNotification" parameterType="String">
        DELETE FROM subscribe_notification
        WHERE NotificationID = #{NotificationID}
    </delete>
</mapper>
