<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netposa.gat.mapper.TollgateMapper">
    <select id="getAll" resultType="com.netposa.gat.model.tujie.ape.TollgateObj">
        SELECT
        a.id,
        a.name,
        a.type,
        a.orgid,
        a.longitude,
        a.latitude,
        a.pinyin,
        a.acronym,
        a.tollgateType
        FROM proxy_tollgate a
    </select>

    <select id="getTollgateObjById" parameterType="String" resultType="com.netposa.gat.model.tujie.ape.TollgateObj">
        SELECT
        a.id,
        a.name,
        a.type,
        a.orgid,
        a.longitude,
        a.latitude,
        a.pinyin,
        a.acronym,
        a.tollgateType
        FROM proxy_tollgate a
        WHERE id = #{id}
    </select>
</mapper>